.hidden {
	display: none!important;
}


.project-spotlight {
	text-align: center;
	position: relative;
	background-color: #eeeeee;
	padding: 10px;
	height: 250px;
	-webkit-border-radius: 6px;
	-moz-border-radius:6px;
	border-radius:6px;
	margin-bottom: 10px;
}

.latest-projects {
	margin-bottom: 10px;
}
.project-spotlight .simple-stats {
	text-align: left;
	list-style: none;
	font-size:10px;
}
.project-spotlight .btn.btn-large {
	bottom: 10px;
	position: absolute;
	left: 25%;
}

.project-spotlight img {
	width: 100px;
	margin-top: 10px;
}

#dk_container_lang, #dk_container_sort {
	width:222px;
}
#dk_container_sort {
	margin-top:22px;
}
#project_url {
	padding-left:20px;
}

#project_url:before {
	content: "http://";
}

#main-wrapper {
	min-height: 860px;
}

footer {
	margin-bottom: 0;
	border-radius: 0;
}

footer .navbar {
	margin-bottom: 0;
}

footer .navbar-inner {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}

#error-box { 
display: none;
}

.one-line-form-elements .form-field{
	display: inline-block;
}

.palette-info-dark {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	-moz-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;	
}

.twitter-share-button.twitter-count-horizontal {
	position: absolute;
bottom: 59px;
left: 25%;
}
input:disabled {
	background: white;
	color:#888;
}	
.fake-fields label {
	padding-left:20px;
}
.field-replacement{
	height: 30px;
	background: white;
	border-radius: 6px;
	padding-left:10px;
	padding-top: 10px;
	color: #888;
}

.project-filters .pull-left {
	margin-left:10px;
}
.project-filters form .btn {
	margin-top: 22px;
}

.footer-nav {
	width:100%;
}

.footer-nav .pull-right {
	float:right!important;
	padding: 16px;
}